/* reset css */
/* Các margin thuộc tính CSS được sử dụng để tạo 
không gian xung quanh các phần tử, bên ngoài bất kỳ đường viền */
* {
    /* Bộ *chọn sẽ chọn tất cả các phần tử. */
      padding: 0; 
      margin: 0;
      box-sizing: border-box;
      /* box là đệm đường viền */
}
/* font chữ cho cả trang web */
html {
    /* scroll là trang cuộn */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* nguyen tac lam bai 
1.tu ngoai vao trong
2.tu tren xuong duoi
3.tong quan den chi tiet
*/

/* 
1.vi tri
2.kich thuoc (width(rong,) height (cao)
3.mau sac
4.kieu dang (ngang, dọc,kieu chu, hinh tron, vuong....
 */
 #clear {
    clear: both;
    /* để ôm thẻ member list */
 }
 .text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
  }
  .btn:hover {
      cursor: pointer;
      color: #000;
      background-color: #ccc;
  }
 .mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
    display: block;
}
 .row {
     margin-left: -8px;
     margin-right: -8px;

 }
 /* thay clear */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full {
    width: 100%;
}
.col-half {
    /* 1 nữa cột */
    width: 50%;
}
.col-third {
    width: 33.33333%;
}
.mt-8 {
    margin-top: 8px !important;
}
 
/* #main {

} */
/* làm 1 */
#header {
    /* fixed là cho header nó đứng yên 
    (top left right left =0 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color:#000;
    /* #000 */
    z-index: 1;
    /* overflow: hidden; */

/* nằm dưới header */
}
#nav {
    display: inline-block;
}
#nav .subnav {
    list-style-type: none;
}
#nav > li {  
    /* inline là cùng trên một hàng */
    display: inline-block;
}
/* làm 2 */
#nav li {
    
    /* position là giữ chữ cố định */
    position: relative;
   

}
/* ko ảnh hưởng đến subnav */
/* nav cấp 1 */
#nav > li > a {
    color:#fff;
    /* #fff */
    text-transform: uppercase;
    /* chữ in hoa cấp 1 */
}
/* làm 4 */
#nav li a {
    /* (color là màu chữ) (decoration là đường gạch chân) 
    (lỉne là căn giữa từ trên với dưới) 
    (padding là khoảng cách giữa các chữ*/

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
     /* inline là cho phép thiết lập chiều rộng và chiều cao trên phần tử. */ 
}
/* hover là khi nhấn vào */
#nav li:hover .subnav {
    display: block;
    /* color: #000; */
    /* background-color: #ccc; */



}

#nav > li:hover > a,
#nav .subnav li:hover a{
     color: #000;
    background-color: #ccc; 

}
    
/* làm 3 */

#nav .subnav {
    display: none;
/* display là hiển thị ẩn đi */
    top: 100%;
    left: 0;
    min-width: 160px;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color:#000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-dow {
    font-size: 14px;
}
/* #header .mobile-menu-btn:hover {
    color: #fff!important;
    background-color: #f44336!important; */

#header .mobile-menu-btn {
position: absolute;
    top: 0;
    right: 0;
    display: none;
   
    /* display là ẩn */

}

/* btn là nút */
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    font-size: 20px;
    line-height: 46px;
    color: #fff;

    /* #header.search-btn:hover {
    cursor: pointer;
    background-color: rgb(180, 22, 22); */

    }
/* btn là màu sắc của nút */
#header .mobile-menu-btn:hover,

#header.search-btn:hover {
    /* cursor là nút bấm bằng tay */
    cursor: pointer;
    background-color: #ccc;
    
    padding: 12px 24px;
    line-height: 4px;
    color: #000;
    /* color: #fff!important; */
    /* background-color: #f44336!important; */
}
    



#header.menu-icon ,

 #header.search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* pading để lấy khung                             top center là backgrou posotusion  cover là backgrou size, no repeat là ko lặp lại ảnh        */
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    /* width căn giữa chữ */
    text-align: center;
}
#slider .text-heading {
    /* weight là độ dày chữ (nó đậm nên giảm xuống */
    font-weight: 500;
    font-size: 24;

}
#slider .text-description {
    font-size: 15;
    margin-top: 25px;

}


/* #content {

} */
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* spacing là khoảng cách từng chữ */
    letter-spacing: 4px;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* italic là chữ nghiêng */
    opacity: 0.6;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* justify là căn đều chữ 2 bên */
    line-height: 1.4;
    /* khoảng cách cao */
}
/* bắt đầu */
#content .member-list {
    /* khoảng cách từ chữ xuống ảnh  */
    margin-top: 48px;
    overflow: hidden;
}

#content .member-name {
    font-size: 15px;
    
}
#content .member-img {
    /* width là kích thước ảnh nhỏ lại */
    width: 154px;
    margin-top: 15px;
    /* magin top là khoảng cách từ ảnh tới chữ name */
    border-radius: 4px;
}
/* tour section */
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 48px;
    list-style: none;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd ;
}
.tickets-list .sold-out {
background-color: #f44336;
color: #fff;
padding: 3px 4px;
margin-left: 16px;
}
.tickets-list .quantity {
float: right;
width: 24px;
height: 24px;
background-color: #000;
color: #FFF;
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-top: -3px;
}

/* Places */
.place-list {
    overflow: hidden;
   margin-top: 16px;
   
   
}

.place-img {
   width: 100%; 
   display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    padding: 16px;
    font-size: 15px;
 background-color: #fff;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
margin-top: 15px;
color: #757575;
}
.place-desc {
margin-top: 15px;
line-height: 1.4;
}




/* contact from */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
width: 30px;
display: inline-block;
}
.contact-form {
font-size: 15px;

}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}
.map-section img {
   width: 100%;
}

/* footer section */
#footer {
padding: 64px 16px;
text-align: center;
}
#footer .socials-list {
       font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);

}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}







